name: Build Electron Windows
on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm' # TAMBAHKAN INI: Biar build lebih ngebut

      - name: Install Dependencies
        run: npm ci # GANTI INI: Lebih stabil untuk robot

      - name: Rebuild Native Modules
        run: npm run rebuild

      - name: Build React Frontend
        run: npm run build-react

      - name: Build and Release Electron App
        # Perbaikan argumen publish agar langsung dikenali electron-builder
        run: npm run buildwin -- -p always 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Timbangan-EXE
          path: dist/*.exe